@inherits LayoutComponentBase

<Toast />

<div class="container">
    <div class="siteheader">
        <img style="height: 70%" src="icon-192.png" />
        <div style="margin-left: 20px; margin-top: 15px">
            <h4>WDE CallDataWindow Maintenance Tool</h4>
        </div>
        <div style="margin-left: 50px; margin-top: 3px">
            <LoginDisplay />
        </div>
    </div>

    <div>
        <CustomErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                <div id="blazor-error-ui" class="blazor-error-ui">
                    Boom!
                </div>
                <h1 style="color: red;">Oops... error occured: @ex.Message </h1>
            </ErrorContent>
        </CustomErrorBoundary>
    </div>
</div>
